server:
  port: 8080

spring:
  cache:
    type: redis
    host: localhost
    port: 6379
    redis:
      time-to-live: 86400
  application:
    name: eureka-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://localhost:5432/sfiss
    username: sfiss
    password: sfiss
    hikari:
      auto-commit: false

eureka:
  client:
    service-url:
      defaultZone: http://admin:admin@localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

jhipster:
  security:
    authentication:
      jwt:
        # This token must be encoded using Base64 and be at least 256 bits long (you can type `openssl rand -base64 64` on your command line to generate a 512 bits one)
        secret: my-secret-key-which-should-be-changed-in-production-and-be-base64-encoded
        # Token is valid 24 hours
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 604800

cache:
  expira:
    segundos: 86400
